/.backup-files
/.lsp-session*
/.mc-lists.el
/.org-id-locations
/Readme.el
/auto-save-list/
/backups/
/bookmarks
/code-review-db-file.sqlite
/code-review-error.log
/eln-cache/
/elpa/
/eshell/
/forge-database.sqlite
/nov-places
/org-roam.db
/places
/recentf
/tramp
/transient/
/url/
